/* -- RESET -- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol menu {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -- LAYOUT -- */
.container {
  margin: 0 auto;
  max-width: 800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row-reverse{
  flex-direction: row-reverse;
}

.justy-c {
  justify-content: center;
}
.justy-b {
  justify-content: space-between;
}

.align-center{
  align-items: center;
}
.center-text{
  text-align: center;
}

.padding-30-0{padding: 30px 0;}

.gap-10{
 gap: 10px;
}

.col-100 {
  width: 100%;
}
.col-20 {
  width: 20%;
}
.col-60 {
  width: 60%;
}
.col-40 {
  width: 40%;
}

.col-32 {
  width: 32%;
}
.col-17 {
  width: 17%;
}

.txt-white{
  color: white;
}

.bt-st{
  padding: 10px  20px;
  border-radius: 20px;
  border: 0 ;
}

/* -- GENERAL STYLE -- */
/* header */
.bg-header-aside {
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
.link-nav {
  display: flex;
}
.link-nav li a {
  margin: 0 10px;
  color: white;
}
/* aside */
aside .container {
  max-width: 600px;
}
aside h1{
  padding-top: 70px;
  padding-bottom: 10px;
}
#bt-open-online{
  background-color: #23272a;
}

/* main */
main .even {
  background-color: #f6f6f6;
}

.bk-star{
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: fit-content;
  margin: 0 auto;
}

.bk-star h4{
  padding: 20px;
}

#bt-main-download-mac{
  background-color: #8EA1E1;
}

.bk-wave,
.bk-wave-cl-reverse {
  background-image: url(../img/wave.svg);
  background-size: cover;
  height: 40px;
}
.bk-wave-cl-reverse {
  transform: rotate(180deg);
}

/* footer */
footer {
  background-color: #23272a;
}
.list-social-ico{
  display: flex;
}

/* -- DEBUG -- */
.debug .container {
  border: 1px dotted rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.debug .row {
  border: 1px dotted rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.debug [class^="col"] {
  border: 1px dotted black;
  background-color: #daa520;
  padding: 10px;
  min-height: 10px;
}
.debug header {
  background-color: #add8e6;
}
.debug aside {
  background-color: #00008b;
}
.debug main .even {
  background-color: #d3d3d3;
}
.debug .aside-col {
  background-color: #ee82ee;
}
.debug .main-col {
  background-color: #1e90ff;
}
.debug .info-col {
  background-color: #ffc0cb;
}
.debug .big-col {
  background-color: #228b22;
}
.debug footer {
  background-color: #23272a;
}
.debug .footer-info {
  background-color: #f08080;
}
.debug .footer-ref-site {
  background-color: #20b2aa;
}
.debug footer button {
  background-color: #f08080;
  padding: 5px;
}
.debug .footer-bt {
  background-color: #add8e6;
}
